scalalib/src/
scala-partest/fetchedSources/
target/
_build/
*.dot
*.ppm
.idea
scripts/.coursier
scripts/.scalafmt*
scripts/.scala-cli*
sbt-crossproject/
local.sbt
.ammonite/

CMakeLists.txt
cmake-build-debug/

# Eclipse / Scala IDE
bin/
.project
.classpath
.settings/
.externalToolBuilders/
.cache*

# scala-cli
**/.scala-build

# metals
**/.bloop/
/.metals/
/project/**/metals.sbt

# Build Server Protocol, used by sbt
**/.bsp/

# scala-cli
**/.scala-build

# vscode
/.vscode/

# vim
*.swp

# Virtual env generated dependencies, for generating docs
.venv

# Configuration for clangd
**/compile_flags.txt

# macOS
.DS_Store