scalalib/src/
target/
_build/
*.dot
*.ppm
.idea
_build/
scripts/.coursier
scripts/.scalafmt*
sbt-crossproject/

CMakeLists.txt
cmake-build-debug/

# Eclipse / Scala IDE
bin/
.project
.classpath
.settings/
.externalToolBuilders/
.cache*
