name: Check Lint
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  check-lint:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - run: ./scripts/check-lint.sh
        env:
          CLANG_FORMAT_PATH: "/usr/lib/llvm-6.0/bin/clang-format"
