# Flow dedicated to publishing compiler plugins for Scala 3 RC versions
name: Publish for Scala release
on:
  workflow_dispatch:
    inputs:
      scala-version:
        type: string
        description: "Version of Scala for which plugins and scalalib should be published"
        default: ""
      scala-native-version:
        type: string
        description: "Tag of Scala Native release which should be used for release"

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.scala-native-version }}
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{ inputs.scala-version }}
          java-version: 8

      - name: Setup PGP Key
        run: |
          echo -n "$PGP_SECRET" | base64 --decode | gpg --batch --import
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}

      - name: Publish release 0.4.x
        if: ${{ startsWith(inputs.scala-native-version, 'v0.4.') }}
        env:
          MAVEN_USER: "${{ secrets.SONATYPE_USER }}"
          MAVEN_PASSWORD: "${{ secrets.SONATYPE_PASSWORD }}"
          PGP_PASSPHRASE: "${{ secrets.PGP_PASSWORD }}"
        run: >
          sbt '
            set crossScalaVersions += "${{ inputs.scala-version }}";
            set nscPlugin.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set junitPlugin.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            ++${{ inputs.scala-version }} -v; 
            nscplugin${{ env.project-version }}/test;
            nscplugin${{ env.project-version }}/publishSigned;
            junitPlugin${{ env.project-version }}/publishSigned;
          '

      - name: Publish release 0.5.x
        if: ${{ startsWith(inputs.scala-native-version, 'v0.5.') }}
        env:
          MAVEN_USER: "${{ secrets.SONATYPE_USER }}"
          MAVEN_PASSWORD: "${{ secrets.SONATYPE_PASSWORD }}"
          PGP_PASSPHRASE: "${{ secrets.PGP_PASSWORD }}"
        # TODO Hot fix, replace with dedicated command or env var for next release to set correct cross scala versions
        run: >
          sbt '
            set crossScalaVersions += "${{ inputs.scala-version }}";
            set nscPlugin.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set junitPlugin.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set scalalib.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set nir.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set util.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set tools.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set nativelib.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set clib.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set posixlib.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set windowslib.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set auxlib.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set javalib.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set testInterface.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set testInterfaceSbtDefs.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set testRunner.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            set junitRuntime.forBinaryVersion("${{ env.binary-version }}")/crossScalaVersions += "${{ inputs.scala-version }}";
            ++${{ inputs.scala-version }} -v; 
            nscplugin${{ env.project-version }}/publishSigned;
            junitPlugin${{ env.project-version }}/publishSigned;
            scalalib${{ env.project-version }}/publishSigned
          '

      # - name: Test runtime
      #   run: >
      #     sbt '
      #       set crossScalaVersions += "${{ inputs.scala-version }}";
      #       ++${{ inputs.scala-version }} -v; 
      #       test-runtime ${{ env.binary-version }};
      #     '
