name: Run tests Linux
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: linux-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  # Compile all sources for given Scala version
  # Cache external dependencies
  # Test tools, if any of them fails, further tests will not start.
  tests-tools:
    name: Compile & test tools
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scala: [3.2.1, 2.13.10, 2.12.17]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Test tools
        run: sbt "++ ${{ matrix.scala }} -v" "-no-colors" "-J-Xmx3G" "test-tools ${{ matrix.scala }}"

        # Make sure that Scala partest blacklisted tests contain only valid test names
      - name: Setup Scala-cli
        uses: VirtusLab/scala-cli-setup@v0.1

      - name: Check partest disabled tests list
        # No partests support for Scala 3
        if: ${{ !startsWith(matrix.scala, '3.') }}
        run: |
          sbt "++ ${{ matrix.scala }} -v" \
          "-no-colors" \
          "scalaPartest${{env.project-version}}/fetchScalaSource"
          scala-cli scripts/partest-check-files.scala -- ${{ matrix.scala }}

        # Running all partests would take ~2h for each Scala version, run only single test of each kind
        # to make sure that infrastructure works correctly.
      - name: Run subset of partest tests
        # No partests support for Scala 3
        if: ${{ !startsWith(matrix.scala, '3.') }}
        run: |
          sbt "++ ${{ matrix.scala }} -v" \
          "-no-colors" \
          "-J-Xmx3G" \
          "scalaPartestTests${{env.project-version}}/testOnly -- --showDiff neg/abstract.scala pos/abstract.scala run/Course-2002-01.scala"

  #Main tests grid. Builds and runs tests agains multiple combination of GC, Build mode and Scala Version
  #It can be extended to test against different OS and Arch settings
  test-runtime:
    name: Test runtime
    runs-on: ubuntu-20.04
    needs: tests-tools
    strategy:
      fail-fast: false
      matrix:
        scala: [3.2.1, 2.13.10]
        build-mode: [debug, release-fast]
        gc: [boehm, immix, commix]
        # Create holes in grid to lower number of tests.
        # Excluded entries should have low impact on overall project coverage
        exclude:
          - scala: 2.13.10
            build-mode: debug
            gc: immix
        include:
          - scala: 2.12.17
            build-mode: debug
            gc: immix
          - scala: 2.12.17
            build-mode: release-fast
            gc: commix
          - scala: 3.1.3
            build-mode: debug
            gc: immix
          - scala: 3.1.3
            build-mode: release-fast
            gc: commix
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: ${{ matrix.build-mode }}
          SCALANATIVE_GC: ${{ matrix.gc }}
          SCALANATIVE_OPTIMIZE: true
        run: sbt "test-runtime ${{ matrix.scala }}"

  # This job is basically copy-paste of test-runtime.
  # Main difference is disabled optimization and fixed Immix GC
  test-runtime-no-opt:
    name: Test runtime no-opt
    runs-on: ubuntu-20.04
    needs: tests-tools
    strategy:
      fail-fast: false
      matrix:
        scala: [3.2.1, 2.13.10]
        build-mode: [debug]
        include:
          - scala: 2.13.10
            build-mode: release-fast
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: ${{ matrix.build-mode }}
          SCALANATIVE_GC: immix
          SCALANATIVE_OPTIMIZE: false
        run: sbt "test-runtime ${{ matrix.scala }}"

  test-runtime-lto:
    name: Test runtime LTO
    runs-on: ubuntu-20.04
    needs: tests-tools
    strategy:
      fail-fast: false
      matrix:
        scala: [3.2.1, 2.13.10]
        lto: [thin]
        optimize: [true]
        include:
          # LTO full fails with 3.1 in the CI - we were not able to reproduce it locally
          - scala: 2.13.10
            lto: full
            optimize: true
          - scala: 3.2.1
            lto: full
            optimize: false

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: release-fast
          SCALANATIVE_GC: immix
          SCALANATIVE_OPTIMIZE: ${{matrix.optimize}}
          SCALANATIVE_LTO: ${{matrix.lto}}
        run: sbt "test-runtime ${{ matrix.scala }}"

  # This job is basically copy-paste of test-runtime.
  # Scripted tests take a long time to run, ~30 minutes, and should be limited and absolute minimum.
  test-scripted:
    name: Test scripted
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scala: [2.12.17, 3.1.3]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: release-fast
          SCALANATIVE_GC: immix
          SCALANATIVE_OPTIMIZE: true
        run: |
          export LLVM_BIN=$(dirname $(readlink -f /usr/bin/clang))
          sbt "test-scripted ${{matrix.scala}}"
