name: Run tests Linux
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  # Compile all sources for given Scala version
  # Cache external dependencies
  # Test tools, if any of them fails, further tests will not start.
  tests-tools:
    name: Compile & test tools
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        scala: [2.13.6, 2.12.15, 2.11.12]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Test tools
        run: sbt "++ ${{ matrix.scala }} -v" "-no-colors" "-J-Xmx3G" test-tools

        # Make sure that Scala partest blacklisted tests contain only valid test names
      - name: Setup Ammonite
        uses: yilinwei/setup-ammonite@0.1.0
        with:
          ammonite-version: 2.3.8
          scala-version: 2.13
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

      - name: Check partest disabled tests list
        run: |
          sbt "++ ${{ matrix.scala }} -v" \
          "-no-colors" \
          "scalaPartest/fetchScalaSource"
          amm scripts/partest-check-files.sc ${{ matrix.scala }}

        # Running all partests would take ~2h for each Scala version, run only single test of each kind
        # to make sure that infrastructure works correctly.
      - name: Run subset of partest tests
        run: |
          sbt "++ ${{ matrix.scala }} -v" \
          "-no-colors" \
          "-J-Xmx3G" \
          "scalaPartestTests/testOnly -- --showDiff neg/abstract.scala pos/abstract.scala run/Course-2002-01.scala"

  # Build testing image that would be used to build and run against different platforms
  # Currently only Linux x64 is tested
  build-image:
    name: Build image
    runs-on: ubuntu-18.04
    outputs:
      image-name: ${{ steps.build-image.outputs.image-base-name }}
    strategy:
      matrix:
        arch: [ amd64 ]

    steps:
      - uses: actions/checkout@v2
      # In order to minimize time spend in image build loading we're caching directory of local repository
      # Starting local registry from cache is faster then loading image tars
      # https://dev.to/dtinth/caching-docker-builds-in-github-actions-which-approach-is-the-fastest-a-research-18ei
      # This and next stage (start registry) should be used in every step using built images
      # Images are cached based on content of Dockerfile

      # Cache automatically saves content specified paths after executing all steps defined after this one.
      # It will not update cache on hit.
      - name: Cache docker
        id: cache
        uses: actions/cache@v1
        with:
          path: /tmp/docker-registry
          key: docker-registry-${{ hashFiles('ci-docker/Dockerfile') }}
      - name: Run local image registry
        run: docker run -d -p 5000:5000 --restart=always --name registry -v /tmp/docker-registry:/var/lib/registry registry:2 && npx wait-on tcp:5000

      # Builds images and saves image base name in output - it allows to re-use it in other steps.
      - name: Build image
        id: build-image
        run: |
          imageBase="scala-native-testing:linux"
          imageName="${imageBase}-${{ matrix.arch }}"
          echo "::set-output name=image-base-name::${imageBase}"
          echo "::set-output name=image-full-name::${imageName}"

          docker run --rm --privileged multiarch/qemu-user-static:register
          docker pull localhost:5000/${imageName} || true
          docker build \
          -t ${imageName} \
          --cache-from=localhost:5000/${imageName} \
          --build-arg TARGET_DOCKER_PLATFORM=library \
          --build-arg HOST_ARCHITECTURE=${{ matrix.arch }}  \
          --cpuset-cpus=0 \
          ci-docker

      - name: Store image in cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          imageName=${{ steps.build-image.outputs.image-full-name }}
          docker tag $imageName localhost:5000/${imageName} && \
          docker push localhost:5000/${imageName}

  #Main tests grid. Builds and runs tests agains multiple combination of GC, Build mode and Scala Version
  #It can be extended to test against different OS and Arch settings
  test-runtime:
    name: Test runtime
    runs-on: ubuntu-18.04
    needs: [tests-tools, build-image]
    strategy:
      fail-fast: false
      matrix:
        scala: [2.13.6, 2.12.15, 2.11.12]
        build-mode: [ debug , release-fast ]
        gc: [ boehm, immix, commix ]
        # Create holes in grid to lower number of tests.
        # Excluded entries should have low impact on overall project coverage
        exclude:
          - scala: 2.13.6
            build-mode: debug
            gc: immix
          - scala: 2.12.15
            build-mode: debug
            gc: immix
          - scala: 2.11.12
            build-mode: debug
            gc: commix
        include:
          - scala: 2.12.13
            build-mode: debug
            gc: immix
          - scala: 2.12.13
            build-mode: release-fast
            gc: commix
          - scala: 2.12.14
            build-mode: debug
            gc: immix
          - scala: 2.12.14
            build-mode: release-fast
            gc: commix
          - scala: 2.13.4
            build-mode: debug
            gc: immix
          - scala: 2.13.4
            build-mode: release-fast
            gc: commix
          - scala: 2.13.5
            build-mode: debug
            gc: immix
          - scala: 2.13.5
            build-mode: release-fast
            gc: commix
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: ${{ matrix.build-mode }}
          SCALANATIVE_GC: ${{ matrix.gc }}
          SCALANATIVE_OPTIMIZE: true
          SCALA_VERSION: ${{ matrix.scala}}
          TEST_COMMAND: test-runtime
        run: ./ci-docker/run-test-gha.sh "${{ needs.build-image.outputs.image-name }}-amd64"

  # This job is basically copy-paste of test-runtime.
  # Main difference is disabled optimization and fixed Immix GC
  test-runtime-no-opt:
    name: Test runtime no-opt
    runs-on: ubuntu-18.04
    needs: [tests-tools, build-image]
    strategy:
      fail-fast: false
      matrix:
        scala: [ 2.13.6, 2.12.15, 2.11.12 ]
        build-mode: [ debug, release-fast ]
        include:
          - scala: 2.12.13
            build-mode: release-fast
          - scala: 2.13.4
            build-mode: release-fast
          - scala: 2.13.5
            build-mode: release-fast
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: ${{ matrix.build-mode }}
          SCALANATIVE_GC: immix
          SCALANATIVE_OPTIMIZE: false
          SCALA_VERSION: ${{ matrix.scala}}
          TEST_COMMAND: test-runtime
        run: ./ci-docker/run-test-gha.sh "${{ needs.build-image.outputs.image-name }}-amd64"

  test-runtime-lto:
    name: Test runtime LTO
    runs-on: ubuntu-18.04
    needs: [tests-tools, build-image]
    strategy:
      fail-fast: false
      matrix:
        scala: [2.13.6, 2.12.15, 2.11.12]
        lto: [thin]
        optimize: [true]
        include:
          - scala: 2.13.6
            lto: full
            optimize: true
          - scala: 2.12.15
            lto: full
            optimize: false

    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: release-fast
          SCALANATIVE_GC: immix
          SCALANATIVE_OPTIMIZE: ${{matrix.optimize}}
          SCALANATIVE_LTO: ${{matrix.lto}}
          SCALA_VERSION: ${{ matrix.scala}}
          TEST_COMMAND: test-runtime
        run: ./ci-docker/run-test-gha.sh "${{ needs.build-image.outputs.image-name }}-amd64"

  # This job is basically copy-paste of test-runtime.
  # Scripted tests take a long time to run, ~30 minutes, and should be limited and absolute minimum.
  test-scripted:
    name: Test scripted
    runs-on: ubuntu-18.04
    needs: [tests-tools, build-image]
    strategy:
      fail-fast: false
      matrix:
        scala: [2.12.15]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}

      - name: Run tests
        env:
          SCALANATIVE_MODE: release-fast
          SCALANATIVE_GC: immix
          SCALANATIVE_OPTIMIZE: true
          SCALA_VERSION: ${{ matrix.scala}}
          TEST_COMMAND: test-scripted
        run: ./ci-docker/run-test-gha.sh "${{ needs.build-image.outputs.image-name }}-amd64"

  test-scala3:
    name: Test experimental Scala3 runtime
    runs-on: ubuntu-18.04
    # Scala3 is treated as experimental, ignore if job fails
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        scala: [3.1.0]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/linux-setup-env
        with:
          scala-version: ${{matrix.scala}}
      # Make sure that scalalib (for Scala 2) and it's dependendicies are published
      - name: Publish dependencies
        run: >
          sbt ++2.13.6
          nativelib/publishLocal
          clib/publishLocal
          posixlib/publishLocal
          windowslib/publishLocal
          auxlib/publishLocal
          javalib/publishLocal
          scalalib/publishLocal

      - name: Run tests
        run: sbt "++${{matrix.scala}};sandbox3/run"
